
<div class="container">
    <h2>Add Employee</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">

        <div class="form-group">
            <label for="id">Id</label>
            <input id="id" type="text" formControlName="id" />
            <div *ngIf="employeeForm.get('id')?.touched && employeeForm.get('id')?.hasError('required')" class="error">
                Employee ID is required
              </div>
          </div>
      
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" />
        <div *ngIf="employeeForm.get('name')?.touched && employeeForm.get('name')?.hasError('required')" class="error">
            Name is required
          </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="employeeForm.get('email')?.touched">
            <div *ngIf="employeeForm.get('email')?.hasError('required')" class="error">Email is required</div>
            <div *ngIf="employeeForm.get('email')?.hasError('email')" class="error">Enter a valid email</div>
          </div>
      </div>

      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input id="mobile" type="text" formControlName="mobile" />
        <div *ngIf="employeeForm.get('mobile')?.touched">
            <div *ngIf="employeeForm.get('mobile')?.hasError('required')" class="error">Mobile number is required</div>
            <div *ngIf="employeeForm.get('mobile')?.hasError('pattern')" class="error">Enter a valid 10-digit mobile number</div>
          </div>
      </div>
  
      <div class="form-group">
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address" />
        <div *ngIf="employeeForm.get('address')?.touched && employeeForm.get('address')?.hasError('required')" class="error">
            Address is required
          </div>
      </div>

      <div class="form-group">
        <label for="checkInDate">CheckInDate</label>
        <mat-form-field appearance="outline">
        <input id="checkInDate" matInput [matDatepicker]="picker" formControlName="checkInDate" placeholder="Select a date" (dateChange)="onDateChange($event)"/>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>  
        </mat-form-field>
        <div *ngIf="employeeForm.get('checkInDate')?.touched && employeeForm.get('checkInDate')?.hasError('required')" class="error">
            Check-in date is required
          </div>
      </div>  

      <div class="form-group">
        <label for="profileImage">Profile Image</label>
        <input id="profileImage" type="file" (change)="onFileSelected($event)" required />
        <div *ngIf="employeeForm.get('profileImage')?.touched && employeeForm.get('profileImage')?.hasError('required')" class="error">
            Profile image is required
          </div>
      </div>
      <!-- Submit Button with Loader -->
    <button type="submit" [disabled]="loading">
    <span *ngIf="!loading">Submit</span>
    <span *ngIf="loading">
      <mat-spinner diameter="20"></mat-spinner> Saving...
    </span>
  </button>
    </form>
  </div>